*{padding:0; margin:0}
li{list-style:none}
a{text-decoration:none; font-size:14px};

.menu {
    width: 33.2%;
    overflow: hidden;
    margin: 150px auto;
}

.menu > li {
    width: 33.2%;
    float: left;
    text-align: center;
    line-height: 50px;
    background-color: #5778ff;
}
.menu a {
    color: #fff;
}

.submenu {
    height: 0;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-200px 0 0 -80px
}

ol {
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-130px 0 0 -220px
}